* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-main);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-text-main: rgb(10, 15, 80);
    --color-text-secondary: rgb(64, 64, 80);
    --color-bg-main: rgb(235, 240, 250);
    --color-bg-secondary: rgb(215, 230, 255);
    --color-bg-tertiary: rgb(180, 190, 240);
    --color-bg-hover: rgb(210, 225, 245);
}

body, #root{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

button{
    cursor: pointer;
    border: none;
}

input, textarea{
    resize: none;
    border: none;
    outline: none;
}

ol, ul{
    list-style: none;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-bg-secondary);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;

    transition: background .2s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-main);
    background-clip: content-box;
}

/* FIREFOX */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-secondary) transparent;
}